.ListaPoemas {
    overflow: auto;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 80vh;
}

.ListaPoemas ul {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.ListaPoemas ul li {
    background: #282c34;
    margin-bottom: calc(10px + 4vmin);
}

.ListaPoemas ul li .autor {
    position: relative;
    left: 200px;
}
