.navbar {
    height: 10vh;
    margin: 0;
}

.navbar ul {
    text-align: center;
    margin-top: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li button {
    padding: 18px;
    text-transform:uppercase;
    color: #777;
    font-size: calc(10px + 1vmin);
    border: none;
    background: transparent;
    display: block;
    transition: all 0.45s;
}

.navbar ul li button:hover {
    color: #fff;
    text-decoration-line: underline;
}
